# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environnement
venv/
env/
.venv/
.env/

# Conf files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Frontend build files
frontend/node_modules/
frontend/dist/
frontend/build/

# React cache
frontend/.next/

# NPM cache
frontend/package-lock.json

# Alembic (SQLAlchemy migrations)
backend/alembic/versions/
backend/alembic/__pycache__/